div {
    /* border: 1px solid grey; */
    text-align: center;
    color: white;
    

    /* margin: 5px;
    padding: 5px; */
}

.floor-container {
    display: grid;
    height: 100vh;
    gap: 0;
    grid-template-areas: 
    'bedroom1 bedroom1 livingroom livingroom  kitchen'
    'bedroom1 bedroom1 livingroom livingroom  kitchen'
    'bath-full bath-full livingroom livingroom  kitchen'
    'bedroom2 bedroom2 bath-half bedroom3 bedroom3'
    'bedroom2 bedroom2 bath-half bedroom3 bedroom3';
}

.bedroom {display: flex; justify-content: center; align-items: center; background-color: green;  } 
#bed-1 { grid-area: bedroom1;  }
#bed-2 { grid-area: bedroom2; }
#bed-3 { grid-area: bedroom3;}
.oven { background-color: red; width: 50%;}
.sink { background-color: brown; width: 50%}
#bath-Half { grid-area: bath-half }
#bath-Full { grid-area: bath-full }
.kitchen { grid-area: kitchen; background-color: yellow;  }
.bath { display: flex; justify-content: center; align-items: center;  grid-area: bath; background-color: orange; }
.livingroom { display: flex; justify-content: center; align-items: center; grid-area: livingroom; background-color: tan; }
.ovsink {display: flex;}
